# Postgres container
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=fraud_db

# App config
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5433
DB_NAME=fraud_db

# Snowflake
SNOWFLAKE_USER=snowflake_user
SNOWFLAKE_PK_PATH=path-to-your-private-key.p8
SNOWFLAKE_PK_PASSPHRASE=password-when-generating-key
SNOWFLAKE_ACCOUNT=accont-identifier
SNOWFLAKE_ROLE=snowflake_role

SNOWFLAKE_WAREHOUSE=fraud_wh
SNOWFLAKE_DATABASE=fraud_analytics
SNOWFLAKE_SCHEMA=raw